.DC_Store
.DS_Store

chgk/chgk.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/userInterfaceState.xcuserstate

chgk/chgk.xcodeproj/project.xcworkspace/xcuserdata/*

chgk/chgk.xcodeproj/project.xcworkspace/*
!contents.xcworkspacedata

chgk/chgk.xcodeproj/*
!project.pbxproj

